@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    615 NE Dekum Street<br />
    Portland, OR 97211<br />
    <abbr title="Phone">P:</abbr>
    503.312.8893
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tannerjackson@hotmail.com">tannerjackson@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:tannerjackson@hotmail.com">tannerjackson@hotmail.com</a>
</address>